<div class="finder">
  <h1>Find GitHub User</h1>
  <form class="pseudo-search" (submit)="searchUser()">
    <input
      type="text"
      [(ngModel)]="username"
      name="username"
      placeholder="Search for a user..."
    />
    <button type="submit"><i class="material-icons">search</i></button>
  </form>
</div>

<div *ngIf="!user && searchAttempted" class="no-results center">
  <h2>No hay usuarios que cumplan con el criterio de búsqueda</h2>
</div>

<ng-container *ngIf="user">
  <div class="center">
    <div class="card">
      <div class="additional">
        <div class="user-card">
          <h1 class="level">{{ user.login }}</h1>
          <img [src]="user.avatar_url" alt="{{ user.name }}" class="round" />
          <h1 class="points">{{ user.created_at | date : "EEE MMM dd yyyy" }}</h1>
        </div>
        <div class="more-info">
          <h1>{{ user.name }}</h1>
          <div class="coords">
            <span>{{ user.location }}</span>
            <span>@{{ user.twitter_username || "N/A" }}</span>
          </div>
          <div class="coords center">
            <a [href]="user.blog" target="_blank">{{
              user.blog || "No Website"
            }}</a>
          </div>
          <div class="stats">
            <div>
              <div class="title">Repos</div>
              <i class="material-icons">library_books</i>
              <div class="value">{{ user.public_repos }}</div>
            </div>
            <div>
              <div class="title">Followers</div>
              <i class="material-icons">group</i>
              <div class="value">{{ user.followers }}</div>
            </div>
            <div>
              <div class="title">Following</div>
              <i class="material-icons">people</i>
              <div class="value">{{ user.following }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
</ng-container>
